-- Tabla para sistema de Me Gusta
CREATE TABLE IF NOT EXISTS ME_GUSTA (
    cod_like INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    cod_us INTEGER NOT NULL,
    cod_pub INTEGER NOT NULL,
    fecha_like TIMESTAMP NOT NULL DEFAULT NOW(),
    UNIQUE(cod_us, cod_pub),
    FOREIGN KEY (cod_us) REFERENCES USUARIO(cod_us) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (cod_pub) REFERENCES PUBLICACION(cod_pub) ON DELETE CASCADE ON UPDATE CASCADE
);
